#news {
    padding: 100px 2rem 100px 2rem;
    .articleContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0.4rem;
        justify-content: space-between;

        article {
            background-color: $white-dark;
            width: 455px;
            h3 {
                a {
                    text-decoration: none;
                    color: $orange-dark;
                }
            }
            img {
                width: 100%;
                height: 275px;
                object-fit: cover;
            }
            .arcticleTextContainer {
                padding: 2rem 2rem 0rem 2rem;
            }
        }
    }
}

@include breakpoint(0, $mobile) {
    #news {
        padding: 2.5rem 0.5rem 2.5rem 0.5rem;
        .articleContainer {
            article {
                margin-bottom: 2.5rem;
                padding-bottom: 1.25rem;

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
                .arcticleTextContainer {
                    padding: 1rem 1rem 0rem 1rem;
                }
            }
        }
    }
}
